#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	dh_auto_build --no-parallel

override_dh_auto_install:
	install -D -m 0644 keyrings/gooroom-archive-1.0.gpg \
                       $$(pwd)/debian/gooroom-archive-keyring/etc/apt/trusted.gpg.d/gooroom-archive-1.0.gpg
	install -D -m 0644 keyrings/gooroom-archive-2.0.gpg \
                       $$(pwd)/debian/gooroom-archive-keyring/etc/apt/trusted.gpg.d/gooroom-archive-2.0.gpg
